@import "fonts";
@import "null";

.container {
  max-width: 1420px;
  padding: 0 30px;
  margin: 0 auto;
}
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(52 / 40 * 100%);
  span {
    font-style: italic;
    border-radius: 6px;
    background: #ffef92;
    display: inline-block;
    padding: 2px 14px 2px 6px;
  }
}
.btn {
  border-radius: 16px;
  background: #5019c4;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.secondary-btn {
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 17px 15px;
  border-radius: 16px;
  border: 2px solid #000;
  background-color: transparent;
  width: 100%;
}
.back-btn {
  display: flex;
  background-color: transparent;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
}
.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  gap: 10px;
  input {
    padding: 18px 20px;
    border-radius: 16px;
    background: #f4f4f4;
    font-size: 18px;
    color: #909090;
    font-weight: 500;
  }
}
.columns {
  background-color: #f0f0f0;
  padding-bottom: 100px;
}
.flex {
  display: flex;
  gap: calc(20 / 1360 * 100%);
  & > div:first-child {
    width: calc(900 / 1360 * 100%);
  }
  & > div:last-child {
    width: calc(440 / 1360 * 100%);
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 2;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open &-content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }
  &-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease 0s;
    padding: 16px 0;
  }
  &-content {
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    background: white;
    position: relative;
    & > button {
      position: absolute;
      right: 15px;
      top: 15px;
      background: #f6f6f6;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@import "./sections/header";
@import "./sections/intro";
@import "./sections/car-buyback";
@import "./sections/car-brands";
@import "./sections/scheme";
@import "./sections/contacts";
@import "./sections/cars";
@import "./sections/feedback";
@import "./sections/latest";
@import "./sections/articles";
@import "./sections/sidebar";
@import "./sections/cars-slider";
@import "./sections/article";
@import "./sections/reviews";
@import "./sections/privacy-policy";
@import "./sections/contacts-block";
@import "./sections/popup-order";
@import "./sections/popup-callback";
@import "./sections/footer";

@import "./sections/cookie";
@import "./sections/popup-menu";
@import "./sections/check-city";
