@import "fonts";
@import "null";

.container {
  max-width: 1420px;
  padding: 0 30px;
  margin: 0 auto;
}
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(52 / 40 * 100%);
  span {
    font-style: italic;
    border-radius: 6px;
    background: #ffef92;
    display: inline-block;
    padding: 2px 14px 2px 6px;
  }
}
.btn {
  border-radius: 16px;
  background: #5019c4;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

@import "./sections/header";
@import "./sections/intro";
@import "./sections/car-buyback";
@import "./sections/car-brands";
@import "./sections/scheme";
@import "./sections/contacts";
@import "./sections/cars";
@import "./sections/footer";
