.articles {
  background-color: white;
  padding: 20px 10px 10px 10px;
  border-radius: 24px;
  border: 1px solid #e7e7e7;
  h2 {
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 30px;
      border-radius: 18px;
      background: #f2f2f2;
      gap: 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 125%;
      position: relative;
      align-items: center;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }
}
