.car-brands {
  padding-bottom: 100px;
  background-color: #f0f0f0;
  h2 {
    margin-bottom: 30px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: 1359px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 1023px) {
      gap: 10px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      background-color: white;
      padding: 25px 15px 20px 15px;
      border-radius: 16px;
      border: 1px solid #e7e7e7;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
