.cookie {
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 60px;
  width: 280px;
  border-radius: 16px;
  padding: 25px 20px 20px 20px;
  background: #000;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04),
    0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
  h3 {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 122%;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    color: #dadadd;
    text-align: center;
    font-weight: 500;
    span {
      color: #c2ccff;
    }
  }
  button {
    border-radius: 16px;
    background: #f6f6f6;
    margin-top: 26px;
    width: 100%;
    padding: 13px 30px;
    font-size: 20px;
    font-weight: 500;
  }
}
