.header {
  background-color: #f0f0f0;
  padding: 20px 0;
  &__block {
    background-color: white;
    padding: 15px 15px 15px 30px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    & > div:first-child {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        @media (max-width: 1023px) {
          width: 180px;
        }
        @media (max-width: 767px) {
          width: 169px;
        }
      }
    }
    & > div:last-child {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  &__city {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__tel {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__mobile-tel {
    width: 46px;
    height: 46px;
    border-radius: 12px;
    background-color: #f7f7f8;
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__btn {
    border-radius: 16px;
    background: #f6f6f6;
    padding: 16px 15px;
    font-size: 18px;
    font-weight: 500;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__menu-btn {
    padding: 19px;
    border-radius: 12px;
    background: #f6f6f6;
    @media (max-width: 767px) {
      padding: 15px;
    }
  }
}
