.intro {
  background-color: #f0f0f0;
  &__flex {
    display: flex;
    gap: calc(20 / 1360 * 100%);
    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 10px;
    }
    & > div:first-child {
      width: calc(785 / 1360 * 100%);
      padding: 30px 40px;
      border-radius: 24px;
      border: 1px solid #e7e7e7;
      background: #fff;
      @media (max-width: 1023px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        padding: 25px 20px 20px 20px;
      }
      h1 {
        margin-bottom: 30px;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 80px;
        @media (max-width: 1359px) {
          margin-bottom: 50px;
          gap: 15px;
        }
        @media (max-width: 1179px) {
          gap: 10px;
        }
        @media (max-width: 1023px) {
          margin-bottom: 40px;
        }
        li {
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 15px;
          line-height: 130%;
          @media (max-width: 1179px) {
            font-size: 16px;
          }
          &:before {
            content: "";
            display: block;
            min-width: 6px;
            height: 6px;
            background-color: black;
          }
        }
      }
    }
    & > div:last-child {
      width: calc(555 / 1360 * 100%);
      border-radius: 24px;
      border: 1px solid #e7e7e7;
      overflow: hidden;
      position: relative;
      @media (max-width: 1023px) {
        width: 100%;
        height: 722px;
      }
      @media (max-width: 767px) {
        height: 388px;
      }
      & > img:first-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & > img:nth-child(2) {
        position: absolute;
        left: 0;
        opacity: 0.5;
        bottom: 0;
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
  &__grade {
    display: flex;
    gap: calc(20 / 785 * 100%);
    @media (max-width: 1359px) {
      gap: 20px;
    }
    @media (max-width: 1179px) {
      flex-direction: column;
    }
    align-items: center;
    button {
      width: calc(320 / 785 * 100%);
      height: 62px;
      @media (max-width: 1359px) {
        width: 50%;
      }
      @media (max-width: 1179px) {
        width: 100%;
      }
    }
    p {
      font-size: 16px;
      line-height: calc(20 / 16 * 100%);
      width: calc(350 / 785 * 100%);
      @media (max-width: 1359px) {
        width: 50%;
      }
      @media (max-width: 1179px) {
        width: 100%;
      }
    }
  }
  &__qr {
    position: absolute;
    bottom: 30px;
    left: 30px;
    @media (max-width: 1023px) {
      display: none;
    }
    p {
      font-size: 22px;
      color: white;
      font-weight: 500;
      margin-top: 20px;
      position: relative;
      line-height: 120%;
      &:before {
        color: #37a305;
        position: absolute;
        right: -25px;
        transform: translateY(10px);
      }
    }
  }
}
