.popup-callback {
  width: 560px;
  padding: 30px;
  border-radius: 24px;
  border: 1px solid #e7e7e7;
  @media (max-width: 767px) {
    width: 375px;
    padding: 50px 20px 20px 20px;
  }
  form {
    button {
      margin-top: 0;
    }
  }
  &__success {
    text-align: center;
    img {
      margin-bottom: 32px;
    }
    h3 {
      font-size: 22px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
