.popup-menu {
  width: 375px;
  height: calc(100vh - 50px);
  background-color: white;
  margin-left: auto;
  margin-right: 25px;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  @media (max-width: 767px) {
    margin-right: auto;
  }
  &-body {
    padding: 0;
  }
  & > img {
    margin-bottom: 31px;
  }
  &__nav {
    span {
      color: #565656;
      font-size: 16px;
    }
    ul {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-bottom: 20px;
      &:not(:last-child) {
        border-bottom: 1px solid #dcdcdc;
      }
      li {
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        a {
          color: black;
        }
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &__city {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    border-radius: 12px;
    background: #f4f4f4;
    padding: 17px 20px;
    left: 20px;
    right: 20px;
    cursor: pointer;
  }
}
