.scheme {
  padding-bottom: 140px;
  background-color: #f0f0f0;
  @media (max-width: 1359px) {
    padding-bottom: 80px;
  }
  @media (max-width: 1023px) {
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
    @media (max-width: 1359px) {
      margin-bottom: 30px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      position: relative;
      &:not(:last-child) {
        &:after {
          content: url("../img/icon-29.svg");
          position: absolute;
          right: 0;
          transform: translateX(calc(50% + 10px));
          top: 20px;
          @media (max-width: 1023px) {
            display: none;
          }
        }
        &:before {
          content: url("../img/icon-30.svg");
          position: absolute;
          display: none;
          @media (max-width: 1023px) {
            display: block;
            left: 28px;
            top: 68px;
          }
        }
      }
      @media (max-width: 1023px) {
        align-items: flex-start;
        padding-left: 80px;
      }
      span {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        @media (max-width: 1023px) {
          position: absolute;
          left: 0;
        }
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
        @media (max-width: 1179px) {
          font-size: 18px;
        }
      }
      p {
        text-align: center;
        max-width: 300px;
        font-size: 18px;
        line-height: normal;
        @media (max-width: 1179px) {
          font-size: 16px;
          line-height: 137.5%;
        }
        @media (max-width: 1023px) {
          text-align: left;
        }
        a {
          color: #2a00a3;
          font-weight: 600;
        }
      }
      &:last-child {
        span {
          background-color: #ffef92;
        }
      }
    }
  }
  &__text {
    color: #4b4b4b;
    max-width: 1130px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-size: 18px;
    line-height: normal;
    @media (max-width: 1359px) {
      margin: 40px auto 0 auto;
    }
    @media (max-width: 1179px) {
      font-size: 16px;
    }
  }
}
