.sidebar {
  & > div {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 767px) {
      gap: 0;
    }
  }
  &__block {
    padding: 30px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid #e7e7e7;
    @media (max-width: 1359px) {
      padding: 20px;
    }
    @media (max-width: 767px) {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      @media (max-width: 1359px) {
        font-size: 20px;
      }
      @media (max-width: 1023px) {
        font-size: 24px;
      }
      @media (max-width: 767px) {
        font-size: 22px;
      }
    }
    p {
      font-size: 16px;
      line-height: 125%;
      margin-bottom: 30px;
    }
  }
}
