.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__block {
    padding: 30px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid #e7e7e7;
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 125%;
      margin-bottom: 30px;
    }
  }
}
